/* importing google font "Azeret Mono" */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

/* basic reset */
*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


img {
    display: block;
    max-width: 100%;
    height: auto;
  }


:root{
    --text-color: #0D1321;
    --text-color2: #ffffff;
    --dark-light-color: rgba(#0D1321, 0.7);
    --font-weight-light: 400;
    --font-weight-medium: 600;
    --font-weight-bold: 700;
    --font-weight-bolder: 800;
}

.btn--primary{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.heading--primary{
    color: var(--text-color);
    font-size: 32px;
    font-weight: var(--font-weight-bolder);
    line-height: 37px;
    
}

.heading--secondary{
    font-size: 24px;
    line-height: 36px;
}

.heading--tertiary{
    color: var(--dark-light-color);
    font-weight: var(--font-weight-bold);

}

.text--primary{
    font-size: 16px;
    font-weight: var(--font-weight-light);
    line-height: 26px;
}

.text--center{
    text-align: center;
}

body{
    font-family: "Azeret Mono", monospace;
}

/* header styles start here */
.header{
    background-image: url(./assets/Hero-bg.png);
    background-position: center center;
    height: 652px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header__profile{
    margin-top: 26px;
    margin-bottom: 32px;
}

.header__title{
    font-size: 48px;
    font-weight: var(--font-weight-bolder);
    line-height: 68px;
}

.header__text{
    margin: 24px 30px 32px 30px;
}

.header__button button{
    padding: 21px 24px 21px 24px;
    border: none;
    border-radius: 8px;
    color: var(--text-color2);
    background: var(--text-color);
    font-size: 20px;
    font-weight: var(--font-weight-medium);
    line-height: 23px;
    cursor: pointer;
}
/* header styles end here */
