/* importing google font "Azeret Mono" */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

/* basic reset */
*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


img {
    display: block;
    max-width: 100%;
    height: auto;
  }


:root{
    --text-color: #0D1321;
    --text-color2: #ffffff;
    --dark-light-color: rgba(13, 19, 33, 0.7);
    --font-weight-light: 400;
    --font-weight-medium: 600;
    --font-weight-bold: 700;
    --font-weight-bolder: 800;
}

.btn--primary{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}



.flex-end{
    display: flex;
    justify-content: flex-end;
}

.order-0{
    order: 0;
}

.order-1{
    order: 1;
}


.heading--primary{
    color: var(--text-color);
    font-size: 32px;
    font-weight: var(--font-weight-bolder);
    line-height: 37px;
    
}

.heading--secondary{
    font-size: 24px;
    line-height: 36px;
    font-weight: var(--font-weight-bolder);
}

.text--primary{
    font-size: 16px;
    font-weight: var(--font-weight-light);
    line-height: 26px;
}

.text--center{
    text-align: center;
}

body{
    font-family: "Azeret Mono", monospace;
}

/* header styles start here */
.header{
    background-image: url(./assets/Hero-bg.png);
    background-position: center center;
    height: 652px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 74px;
    margin-top: 100px;
    border: 2px dashed rgba(13, 19, 33, 0.2);
}

.header__container{
    position: absolute;
    top: 20px;
    left: 0;
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    
}

.header__logo{
    font-size: 28px;
    font-weight: 800;
    line-height: 33px;
    margin-left: 100px;
}

.header__resume{
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    padding: 17px 24px 17px 24px;
    border: 1px solid rgb(13, 19, 33);
	border-radius: 8px;		
    opacity: 0.8;
    cursor: pointer;
}

.header__profile{
    margin-top: 26px;
    margin-bottom: 32px;
}

.header__title{
    font-size: 48px;
    font-weight: var(--font-weight-bolder);
    line-height: 68px;
}

.header__text{
    margin: 24px 30px 32px 30px;
}

.header__button button{
    padding: 21px 24px 21px 24px;
    border: none;
    border-radius: 8px;
    background: var(--text-color);
    line-height: 23px;   
}

.header__button button a{
    font-weight: var(--font-weight-medium) !important;
    color: var(--text-color2) !important;
    font-size: 20px !important;
    text-decoration: none !important;
}
/* header styles end here */

main{
    padding: 0 80px;
}
/* section why web development start here */
.development{
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    padding: 80px 97px;
    margin-bottom: 88px;
}

.development__text{
    margin-top: 24px;
    margin-bottom: 48px;

}

.development__part{
    display: flex;
    padding: 48px;
}
.development__part > div{
    flex: 1;
}


.development__part-title{
    color: var(--dark-light-color) !important;
    font-weight: var(--font-weight-bold) !important;
}

.development__part-text{
    margin-top: 16px;
    margin-bottom: 32px;
   
}

.part-two{
    display: flex;
    justify-content: center;
}

.development__part-btn {
    border: 1px solid var(--text-color);
    opacity: 0.7;
    padding: 12px 20px 12px 20px;
}
.development__part-btn a{
    font-size: 20px;
    color: var(--text-color);
    text-decoration: none;
}


/* section why web development end here */


/* section inspiration start here*/
.inspiration{
    text-align: center;
    margin-bottom: 140px;
}

.inspiration__text{
    margin: 48px;
}

.inspiration__video{
    padding: 32px;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
}

.inspiration__video iframe{
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
}
/* section inspiration end here*/


/* section current-target start here */

.current-target__text{
    margin-top: 24px;
}

.current-target__cards{
    display: flex;
    margin-top: 48px;
}


    /* card */
    .card{
        width: 364px;
        margin: 0px 24px;
        padding: 40px;
        border-radius: 16px;
    }
    
    .card__img{
        width: 56px;
        height: 56px;
        margin: 24px 0;
    }
    
    .card__text{
        margin-top: 8px;
        margin-bottom: 24px;
    }
    
    .card__link a{
        color: var(--text-color)!important;
        text-align: underline !important;
        font-weight: 700 !important;    
        line-height: 19px !important;
    }
    
    .card-one{
      background: rgba(255, 76, 30, 0.05);
    }
    
    .card-two{
        background: rgba(0, 76, 232, 0.05);
    }
    
    .card-three{
        background: rgba(255, 223, 0, 0.05);
    }
/* section current-target end here */


/* section next-target start here */
.next-target{
    margin-top: 110px;
    margin-bottom: 43px;
}
.next-target__text{
    margin: 24px 43px 48px 43px;
   
}

.next-target__card{
    border: 1px solid rgba(13, 19, 33, 0.15);
	border-radius: 16px;
    padding: 40px;
    display: flex;
    gap: 24px;
    align-items: center;
    margin-bottom: 24px;
}

.next-target__card img{
    width: 100px;
}
.next-target__card-text{
    margin-top: 8px;
    margin-bottom: 24px;
}
/* section next-target end here */


/* section support start here */
.support{
    background-color: rgba(0, 0, 0, 0.6);
    background-image: url(./assets/handshake.jpg);
    background-blend-mode: overlay;
    height: 314px;
    background-position: center center;
    padding: 64px 48px 64px 48px;
    border-radius: 16px;
    margin-top: 42px;
    margin-bottom: 80px;

}

.support__title{
    color: var(--text-color2);
}

.support__text{
    color: var(--text-color2);
    margin-top: 18px;
    margin-bottom: 24px;
}

.support__form{
    display: flex;
    justify-content: center;

}

.support__form input{
    padding: 15px 20px;
    border: 1px solid rgba(13, 19, 33, 0.15);
	border-radius: 8px;
    background: var(--text-color2);
    margin-top: 30px;
    
    
}

.support__form input:first-child{
    margin-right: 16px;
    width: 548px;
    border: none;
    outline: none;
}

.support__form input:last-child{
    font-size: 20px;
    font-weight: var(--font-weight-light);
    cursor: pointer;
}
/* support section end here */



/* footer style */

.footer{
    display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 32px 150px;
}
.footer__title{
    color: var(--text-color);
    font-size: 20px;
    font-weight: var(--font-weight-medium);
    line-height: 23px;
    
}

.footer__icons{
    display: flex;
}

.footer__icons img{
    margin-right: 24px;
}

